.icono {
  position: absolute;
  top: 4px;
  height: 3rem;
  border-radius: 1.5rem;
}

.encabezamiento {
  height: 3rem;
  background-color: #16455a;
}

nav ul li a {
  font-size: 12px;
}

.imagenfondo {
  display: flex;
  width: 100%;
  background: url("/img/inicio/leoncito.jpg") center top no-repeat;
  background-size: 100% auto;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
}

.leoncito {
  width: 100%;
  z-index: -1;
}


.cargado {
  width: 102% !important;
}

.baseimagen {
  background-color: #16455a;
  height: 783px;
  overflow: hidden;
}

.numeral a,
.numeral a:active,
.numeral a:visited,
.numeral a:any-link {
  color: black;
}

.descripcionindividual {
  font-family: "Bradley Hand ITC";
  font-size: 35px;
  color: white;
  text-shadow: 1px 0 black;
  font-weight: 600;
  text-align: right;
  position: absolute;
  top: 41.7rem;
  right: 2rem;
}


h3 {
  font-size: 1.17em;
}


.pie a,
.pie a:active,
.pie a:visited,
.pie a:any-link {
  color: white;
}

.activa {
  color:yellow;
}

body {
  font-family: Roboto;
  font-size: 16px;
  background-color: #71bfd0;   /*  background-color: #07B8A0;  el que está ahora 4.6 #3DBAD1 #07B8A0 88c9d8*/
  color: white;
  margin: 0;
}

.pie {
  flex-basis: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 12px;
  color: white;
  height: 3rem;
  background-color: #16455a;
  display: flex;
  height: 32rem;
  line-height: 1.5rem;
}

.autora {
  color: red;
}

.telefono {
  flex: 1;
  justify-content: left;
  display: flex;
}

.telefonotelefono {
  width: 100%;
  text-align: left;
}

.politica {
  flex: 1;
  justify-content: center;
  display: flex;
}

.perfil, .perfil:any-link, .perfil:visited {
  color: white;
  text-decoration: none;
}

.fa-iconito {
  padding-right: 4px;
}
.fa-iconito-facebook {
  padding-right: 5px;
}
.fa-iconito-instagram {
  padding-right: 6px;
}
.politica-privacidad {
  margin: 8rem;
}

.direccion {
  flex: 1;
  justify-content: right;
  display: flex;
}

.direcciondireccion {
  width: 100%;
  text-align: right;
}

.politicapolitica {
  width: 100%;
  text-align: center;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.oculto {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 0.3s linear;
}

.derecha {
  float: right;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-right: 16px;
}

.menu ul li {
  display: inline;
}

.menu ul li a {
  text-decoration: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #fff;
}

.menu ul li a:hover,
.menu ul li a:active {
  color: burlywood;
}

.menu ul li a.activo {
  color: yellow;
}


.activo {
  color: yellow !important;
}

.semueve:hover {
  box-shadow: 1px 1px #c0c0c0, 2px 2px #c0c0c0, 3px 3px #c0c0c0;
  transform: translateX(-8px);
  transition: all 10s;
}

.contenedoricono {
  width: 25%;
  float: left;
  display: flex;
}

.contenedortextolupa {
  width: 12.7%;
  float: left;
  display: flex;
  justify-content: right;
}

.contenedorlupa {
  width: 12.3%;
  float: left;
}

.textolupa {
  width: 10rem;
  background-color: lightgrey;
  background-color: transparent;
  color: lightgrey;
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin-top: 14px;
  padding: 4px;
}

.botonlupa {
  background-color: transparent;
  color: lightgrey;
  margin-top: 12px;
  margin-left: 4px;
  padding: 4px;
  border: none;
}

.textolupa::placeholder {
  color: lightgrey;
}

.contenedormenu {
  width: 50%;
  float: left;
  padding-top: 1rem;
  text-align: right;
}

.clearer {
  clear: both;
}

.contenedor {
  display: flex;
  padding: 1.5rem 3rem 1.5rem 3rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.texto {
  margin-left: 4rem;
  width: 528px;
  padding: 16px;
  margin-bottom: 4px;
  border-radius: 8px;
}

.foto {
  margin-top: 1rem !important;
  width: 48%;
  padding: 16px;
  border: 1px solid #444444;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 8px;
  background-color: #ffffff;
  padding-bottom: 2px;
}

.foto-interior {
  width: 100%;
  border-radius: 6px;
}

.zoom {
  transition: 0.9s;
}

.zoom:hover {
  transform: scale(1.3);
}

.fotoderecha {
  width: 528px;
  padding: 16px;
  border: 1px solid #444444;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 8px;
  background-color: #ffffff;
  margin-left: 4rem;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
  margin-bottom: 4px;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.texto {
  margin-top: 1rem !important;
  width: 48%;
  margin-left: 0rem;
  line-height: 1.3rem;
  padding: 0 0.5rem;
}

.titulo {
  margin: 1rem 0 0 1rem;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.entrada {
  display: flex;
  align-content: space-between;
  margin-bottom: 1rem;
}

.prompt {
  flex: 3;
}

.input {
  flex: 7;
}

input {
  width: 100%;
}

.espaciador-pie {
  height: 16rem;
}

/* Diseño del indice del blog y de los articulos  */
.anecdotas {
  background-color: #d9ea80;
  color: black;
}



.tips {
  background-color: #bd0051;
  color: white;
}

.tips-verde {
  background-color: #d7ecc5;   /*71e35d*/
  color: black;
}

.relatos {
  background-color: #74a7be;
  color: white;
}

.ajusteverticaltop {
  vertical-align: top;
}



.bordetransparente {
  border: transparent;
}

.gracias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 16rem;
}

.entrada-busqueda {
  display: flex;
  text-decoration: none;
  padding: 0rem 1rem 1rem 1rem;
}

.url-vinculo {
  color: blue;
  text-decoration: underline;
  font-size: 11px;
}

.vinculo {
  color: black;
  text-decoration: none;
}

a.vinculo {
  color: black;
}

.titulo-vinculo {
  font-size: 16px;
  padding-top: 0.2rem;
}

.parrafo-vinculo {
  padding-top: 0.2rem;
}

a.redes-sociales {
  font-size: 12px;
  text-decoration: none;
}

.contenedor-articulo {
  padding: 1rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
}

.contenedor-fila {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.contenedor-foto {
  width: 572px;
}

.leyenda {
  color: #005be6;
  font-size: 16px;
  font-family: "Satisfy",cursive;
  padding-left: 4px;
}

.borde-blanco {
  font-size: 5px;
  height: 14px;
  padding-left: 4px;
}

/* font-family: 'Satisfy', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Lovers Quarrel', cursive; */
.contenedor-texto {
  width: 572px;
}

.sin-padding-bottom {
  padding-bottom: 0;
}

.sin-padding-top {
  padding-top: 0;
}

.contenedor-espacio {
  width: 40px;
}

.texto-interior {
  padding: 17px;
}

.contenedoradmin {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
}

.contenedorcarpetas {
  padding: 2rem 2rem;
  background-color: white;
  color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.carp-fila {
  font-size: 13px;
}

.carp-titulo {
  width: 100%;
  text-align: left;
  margin-bottom: 4px;
}

.com-fila {
  display: flex;
  font-size: 13px;
  margin-bottom: 3px;
  justify-content: space-between;
}

.com-fila-plantilla {
  padding-bottom: 1rem;
  font-size: 13px;
  display: flex;
  flex-direction: row;
}
.com-avatar {
  font-size: 28px;
  flex: 1.2;
  color: #606060;
  text-align: center;
  min-width: 40px;
  padding-top: 0.2rem;
}
.com-data {
  flex: 22.8;
}
.com-usuario-plantilla {
  flex: 0.5;
  margin-right: 1rem;
  font-size: 14px;
  line-height: 1rem;
  padding-top: 0.75rem;
}
.com-fecha-plantilla {
  flex: 2;
  font-size: 11px;
  color: #808080;
}
.com-texto {
  flex: 7;
  padding-right: 6%;
}


.cabezal {
  font-weight: 900;
}

.com-articulo {
  flex: 2;
  padding-left: 4px;
  padding-right: 4px;
}

.com-origen {
  flex: 0.4;
  text-align: right;
  padding-right: 8px;
}

.com-id_comentario {
  flex: 0.4;
  text-align: right;
  padding-right: 8px;
}

.com-fecha {
  flex: 2;
}

.com-carpeta {
  flex: 0.5;
  height: 1.2rem;
}

.com-asunto {
  flex: 3;
}

.com-usuario {
  flex: 0.5;
  text-align: right;
  padding-right: 8px;
}

.com-boton-ok,
.com-boton-ok:active {
  background-color: #16455a;
  border-radius: 10px;
  color: white;
  height: 2rem;
  width: 3rem;
  border: 0;
  display: none;
}

.titulo-comentarios {
  text-align: left;
  width: 100%;
  font-weight: 300;
  font-size: 18.72px;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.pide-comentario {
  font-weight: 300;
  font-size: 18.72px;
  padding: 3rem;
  text-align: center;
}

.fondo-blanco {
  color: black;
  background-color: white;
}

.letra-negra {
  color: black;
}

.resultado-busqueda {
  margin-top: 0.8rem;
  font-size: 18px;
  margin-bottom: 0.2rem;
}

.oculta {
  display: none;
}

.entrada-busqueda {
  flex: 7;
  font-size: 12px;
  background-color: white;
  color: black;
  padding-left: 4rem;
  padding-right: 4rem;
}

.url-link a,
.url-link a:active,
.url-link a:visited,
.url-link a:any-link {
  color: blue;
  font-size: 14px;
}

.correte-usuario {
  padding-right: 4px;
  padding-left: 5px;
}

.bg-dark {
  background-color: #16455a !important; /*#16455a* 16515a */
}

.transparente {
  background-color: transparent;
}

.solo-con-left-padding {
  padding: 0;
  padding-left: 0.5rem;
}

.navbar-brand {
  margin-right: 4rem;
}

html {
  font-family: Roboto, SansSerif;
  font-size: 12px;
}

p {
  line-height: normal;
}

h2 {
  padding-bottom: 1rem;
}

.contenedor-comentario {
  color: black;
  background-color: #ffffff80;
  border-radius: 8px;
  display: block;
  border: 1px solid #444444;
  margin-bottom: 3rem;
  flex-basis: 100%;
  padding: 16px;
}

.sin-padding {
  padding: 0;
}

.contenedor-comentario input::placeholder,
.contenedor-comentario textarea::placeholder {
  font-style: italic;
}

.contenedor-enviar {
  text-align: right;
  padding-top: 1rem;
}

.dejatucomentario {
  margin-bottom: 24px;
}

.boton-busqueda,
.boton-busqueda:hover,
.boton-busqueda:focus,
.boton-busqueda:hover,
.boton-busqueda:active {
  background-color: transparent;
  color: white !important;
  border: 0 !important;
  outline: 0 !important;
  padding: 3px 0 0 6px;
}
.search-wrapper {
  display: flex;
}
.search-input-wrapper {
  flex: 6;
}
.search-boton-wrapper {
  flex: 2;
}
.buscar::placeholder {
  font-style: italic;
  color: #d0d0d0;
}

.mi-ul {
  height: 32px;
}

.mi-navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

mi-brand {
  margin-top: 0;
  margin-bottom: 0;
}

.susana {
  position: absolute;
  left: 4.5rem;
  top: 5px;
  font-size: 1.7rem;
}

.contenedor .texto h3 {
  font-size: 24px;
  margin-bottom: 2rem;
}
.textoEnMinipagina h3 {
  font-size: 24px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 2rem;
}

@media (max-width: 900px) {
  .foto {
    width: 100%;
  }

  .mi-ul {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .texto {
    margin-top: 1rem !important;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .baseimagen {
    height: 480px;
    background-color: #16455a;
  }
  .descripcionindividual {
    top: 22rem;
    font-size: 18px;
    padding-left: 2rem;
    right: 1rem;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .baseimagen {
    height: 375px;
  }
}

@media (max-width: 500px) {
  .foto {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }
  .baseimagen {
    height: 480px;
  }
  .descripcionindividual {
    top: 25rem;
    font-size: 18px;
    padding-left: 2rem;
  }
  .texto {
    margin-top: 1rem !important;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }

  .contenedor {
    padding: 0;
  }

  .contenedor-articulo {
    padding-left: 8px;
    padding-right: 8px;
  }
}
.image-v03 {
    max-height: 90vh;
    max-width: 90vw;
    margin-top: auto;
    margin-bottom: auto;   
    top: 0;
}
.carrousel {
    text-align: center;
    position: relative;
}
.carrousel-wrapper {
    min-height: 500px;
    padding-top: 2rem;
}
.leyenda-2 {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
  color: rgb(253, 253, 214); /*#74a7be;*/
  font-size: 15px;
  font-family: "Satisfy",cursive;
  text-shadow: 1px 0 black;
} 

/*
 .carrousel
  .image-v03
  .leyenda-2
*/
